.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    visibility: collapse;
    background: rgba(46, 47, 66, 0.40);
    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-form-container {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 288px;
    padding: 24px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-close {
    width: 24px;
    height: 24px;
    padding: 0;
    align-self: end;
    margin-right: 8px;
    cursor: pointer;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-close:focus,
.modal-form-close:hover {
    border: none;
    background-color: #404BBF;
    transform: rotate(180deg) scale(1.1);
    fill: #ffffff;
}

.modal-form-close svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-horm-title {
    color: #2E2F42;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.modalform-label-wrapper {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modalform-input-wrap {
    position: relative;
}

.modalform-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 11px 11px 11px 34px;
    color: rgba(46, 47, 66, 0.40);
    flex-shrink: 0;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input,
.form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.modalform-textarea-wrap {
    margin-bottom: 16px;
}

.form-textarea {
    padding: 8px 16px;
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-wraper {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    color: #8E8F99;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.fake-checkbox {
    display: inline-flex;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.icon-checkactive {
    display: none;
}

.modal-checkbox:checked+.modal-checkbox-label .fake-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-checkbox:checked+.modal-checkbox-label .icon-checkactive {
    display: block;
}

.fake-chexbox-href {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.modal-button {
    margin: 0 auto;

}

@media (min-width: 768px) {
    .modal-form-container {
        top: 96px;
        left: 50%;
        transform: translateX(-50%);
        width: 408px;
        padding: 24px;
    }

    .modal-form-close {
        margin-right: 0;
    }
}

@media (min-width: 1158px) {
    .modal-form-container {
            top: 80px;
        }
}