.team {
    background: #F4F4FD;
    padding: 96px 0px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.team-item {
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
    margin: 0 auto;
}

.team-list-info {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.team-list-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.team-list-text {
    text-align: center;
}

@media (min-width: 768px) {
    .team {
        background: #F4F4FD;
        padding: 96px 0px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

@media (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        justify-content: center;
    }
}